.main-header{
    background-color: rgb(44, 62, 80);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

.main-header .title.navigator{
    display: inline;
}

.main-header .navigator{
    display: inline;
}

/*está colocando estilo no "a" do href*/
.main-header a{ 
    color: white;
}
